DATABASE_URL="postgresql://postgres:postgres@localhost:5432/web_katalog?schema=public"
DIRECT_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/web_katalog?schema=public"
APP_URL="http://localhost:3000"
APP_URL_SECRET="ganti_dengan_random_secret_panjang"
NEXT_PUBLIC_SUPABASE_URL=""
SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_STORAGE_BUCKET="catalog-assets"

LEGACY_MYSQL_COMMAND=""
LEGACY_MYSQL_USER="root"
LEGACY_MYSQL_PASSWORD=""
LEGACY_MYSQL_DATABASE="web_katalog"
LEGACY_MYSQL_HOST=""
LEGACY_MYSQL_PORT=""
