DATABASE_URL="postgresql://USER:PASSWORD@HOST:6543/postgres?pgbouncer=true&connection_limit=1&sslmode=require"
DIRECT_DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/postgres?sslmode=require"
APP_URL="https://domain-anda.com"
APP_URL_SECRET="ganti_dengan_secret_acak_min_32_karakter"

NEXT_PUBLIC_SUPABASE_URL="https://PROJECT_REF.supabase.co"
SUPABASE_URL="https://PROJECT_REF.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="isi_service_role_key_dari_supabase"
SUPABASE_STORAGE_BUCKET="catalog-assets"

# Vercel punya batas request body function. 4MB lebih aman untuk upload via Server Action.
UPLOAD_MAX_MB="4"
NEXT_PUBLIC_UPLOAD_MAX_MB="4"
